<div>
    <p id="hitokoto">:D 一言句子获取中...</p>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" defer>
        function getYiyan(){
            $.getJSON("https://v1.hitokoto.cn/", function (data) {
                if(data){
                    $('#hitokoto').html("");
                    $('#hitokoto').append("<strong style='color: #3273dc;'>"+data.hitokoto+"</strong>"+
                        //"<p>"+"来源《"+data.from+"》</p><p>提供者-"+data.creator+"</p>");
						"<p>"+"来源《"+data.from+"》<br> 提供者-"+data.creator+"</p>");
                }});}
        $(function (){getYiyan();$('#hitokoto').click(function(){getYiyan();})});
    </script>
</div>